@font-face {
  font-family: "Coolvetica";
  src: url("Fonts/coolvetica\ rg.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monsterrat";
  src: url("Fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonsterratLight";
  src: url("Fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: rgb(2, 0, 10);
}

.Main {
    font-family: 'Monsterrat', 'sans-serif';
    color: white;
}

.Light {
    font-family: 'MonsterratLight', 'sans-serif';
    color: white;
}

.TopButton {
    font-family: 'MonsterratLight', 'sans-serif';
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: white;
    transition: color 0.3s ease;
}

.TopButton:hover {
    cursor: pointer;
    color: #0084ff;
}

.Circle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius:50%;
}

#Name {
    margin-top: 3.5em;
    text-align: center;
    font-size: 5em;
}

#Title {
    text-align: center;
    font-size: 3.5em;
    margin-top: -1.6em;
}

#Location {
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: -5em;
}

#Pin {
    height: 2em;
    margin-right: .5em;
    margin-top: -.1em;
}

#LocationText {
    font-size: 1.75em;
}

#Top {
    position: sticky;
    width: 100%;
    top: 0;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: .1em;
    z-index: 1000;
    gap: 1em;


    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

#Circle1 {
    margin-left: 50%;
    margin-top: 24em;
    box-shadow: 0 0 50em 2em #fff, 0 0 50em 4em #001aff, 0 0 80em 7em #0077ff;
}

#FeaturedFilm {
    margin: auto;
    width: 80em;
    height: 45em;
    background-color: transparent;
    border-radius: 2em;
    box-shadow: 0 0 5em #0059ff;
    z-index: 2;
}

#FilmBox {
    margin: auto;
    display: flex;
    width: 90em;
    height: 30em;
    background-color: transparent;
    border-radius: 2em;
    box-shadow: 0 0 5em #0059ff;
    z-index: 2;
    margin-bottom: 8em;
}

#FeaturedText {
    text-align: center;
    font-size: 3em;
    margin-top: 8em;
}

#Info {
    margin: auto;
    justify-content: center;
    margin-top: -5em;
    width: 50%;
}

#About {
    margin: auto;
    width: 50%;
}

#Contact {
    margin: auto;
    width: 50%;
}

#FilmTitle {
    text-align: center;
    font-size: 5em;
}

#FeaturedFilmSubtext { 
    text-align: left;
    font-size: 1.5em;
    margin-top: -3em;
}

#FilmSubtext { 
    line-clamp: 5;
    text-align: left;
    font-size: 1em;
    margin-top: -1em;
    padding-left: .5em;
    overflow: scroll;
    display: -webkit-box;
    height: 22em;
}

#Film {
    height: 100%;
    border-radius: 2em;
    width: auto;
}

#FilmVideo {
    height: 100%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    width: auto;
}

#AllFilms {
    display: flex;
    margin: auto;
    margin-top: 1.25em;
    background-color: transparent;
    font-size: 4em;
    color: white;
    border-radius: .5em;
    width: 8em;
    padding-left: .5em;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0 0 0.4em 0em #0010aa, 0 0 0.6em 0.01em #0022ff, 0 0 0.8em 0.01em #000a33;
    transition: color 0.3s ease;
}

#AllFilms:hover {
    cursor: pointer;
    color: #0084ff;
}

#AboutText {
    margin-top: 1em;
    text-align: center;
    font-size: 5em;
}

#AboutSubtext {
    margin-top: -3em;
    font-size: 1.5em;
}

#ContactText {
    margin-top: 1em;
    text-align: center;
    font-size: 5em;
}

#ContactSubtext {
    margin-top: -3em;
    font-size: 1.5em;
}

#Email {
    color: #0084ff;
}

#Instagram {
    color: #0084ff;
}

#MainText {
    margin-top: 0em;
    text-align: center;
    font-size: 5em;
    margin-bottom: .5em;
}

#FilmDate {
    text-align: center;
    font-size: 1.5em;
    margin-top: -4em;
}
